/*
 * Copyright (C) 2017 dubenju@126.com.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package $!{pkg};

import org.teapot.db.orm.IKeyValue;

import java.io.Serializable;

/**
 * 表$!{table.TableName}的JavaBean类.
 * @author dubenju@126.com
 *     这份代码最初是由TeapotOrmGen于$!{genDtTm}自动生成的。
 */
public class Mdl$!fmtter.fmtFun("$!{table.TableName}") implements Serializable, IKeyValue {

  private static final long serialVersionUID = 1L;
  /*
   * 常量定义
   */
  /** 表的名称:$!{fmtter.upper("$!{table.TableName}")}. */
  public static final String $!{fmtter.upper("$!{table.TableName}")} = "$!fmtter.upper("$!{table.TableName}")";
#foreach($col in $!{table.Colmuns})
  /** 字段：$!{col.ColumnName}. */
  public static final String $!{col.ColumnName} = "$!{fmtter.upper("$!{table.TableName}")}.$!{col.ColumnName}";
#end
  /* 字段 */
  /** 所有字段名数组. */
  public static final String[] COLUMNS = {
#foreach($col in $!{table.Colmuns})
    Mdl$!fmtter.fmtFun("$!{table.TableName}").$!{col.ColumnName}#if(${velocityCount} < $!table.getColmuns().size()),#end

#end
  };
  /* 主键  */
  /** 所有主键字段名数组. */
  public static final String[] PRIKEYS = {
#foreach($pk in $!{table.PrimaryKeys})
    Mdl$!fmtter.fmtFun("$!{table.TableName}").$!{pk.ColumnName}#if(${velocityCount} < $!table.getPrimaryKeys().size()),#end

#end
  };

  /**
   * 获取表的名称.
   * @return 表的名称。
   */
  public static String getTblName() {
    return Mdl$!fmtter.fmtFun("$!{table.TableName}").$!fmtter.upper("$!{table.TableName}");
  }

  /* *************************************************
   * 变量定义
   * *************************************************/
#foreach($col in $!{table.Colmuns})
  private $!{col.TypeNameJava} $!fmtter.fmtVar("$!{col.ColumnName}");
#end

  /* *************************************************
   * 构造函数
   * *************************************************/
  /**
   * 构造函数.
   */
  public Mdl$!fmtter.fmtFun("$!{table.TableName}")() {
  }

  /* *************************************************
   * 方法
   * *************************************************/
#foreach($col in $!{table.Colmuns})
  /**
   * 返回属性$!{fmtter.fmtVar("$!{col.ColumnName}")}的值.
   * @return $!fmtter.fmtVar("$!{col.ColumnName}")的值。
   */
  public $!{col.TypeNameJava} get$!fmtter.fmtFun("$!{col.ColumnName}")() {
    return this.$!fmtter.fmtVar("$!{col.ColumnName}");
  }
  /**
   * 设置属性$!{fmtter.fmtVar("$!{col.ColumnName}")}的值.
   * @param value $!fmtter.fmtVar("$!{col.ColumnName}")的值。
   */
  public void set$!fmtter.fmtFun("$!{col.ColumnName}")($!{col.TypeNameJava} value) {
    this.$!fmtter.fmtVar("$!{col.ColumnName}") = value;
  }
#end

  /**
   * 返回Mdl$!fmtter.fmtFun("$!{table.TableName}")的字符串表示形式.
   * @return String 字符串表示形式。
   * @see java.lang.Object#toString()
   */
  @Override
  public String toString() {
    StringBuffer buf = new StringBuffer();
#foreach($col in $!{table.Colmuns})
    buf.append(this.get$!fmtter.fmtFun("$!{col.ColumnName}")());
#if(${velocityCount} < $!table.getColmuns().size())    buf.append(",");#end

#end
    return buf.toString();
  }

  /**
   * 通过键名获取值.
   * 当指定的键名不存在的时候，返回null。
   * @return Object 对应键名值。
   */
  @Override
  public Object getValueByKey(String key) {
    Object ret = null;
#foreach($col in $!{table.Colmuns})
    if (Mdl$!fmtter.fmtFun("$!{table.TableName}").$!{col.ColumnName}.equals(key)) {
      ret = this.get$!fmtter.fmtFun("$!{col.ColumnName}")();
    }
#end
    return ret;
  }

  /**
   * 通过键名设置值.
   * 当指定的键名不存在的时候，不作任何改动。
   * @param key 键名。
   * @param value 对应键名值。
   */
#foreach($col in $!{table.Colmuns})
#if(0 <= $col.getTypeNameJava().indexOf("ArrayList"))
  @SuppressWarnings("unchecked")
#break
#end
#end
  @Override
  public void setValueByKey(String key, Object value) {
#foreach($col in $!{table.Colmuns})
    if (Mdl$!fmtter.fmtFun("$!{table.TableName}").$!{col.ColumnName}.equals(key)) {
      this.set$!fmtter.fmtFun("$!{col.ColumnName}")(($!{col.TypeNameJava}) value);
    }
#end
  }
}
